@import "_variables";

body {
  margin: 0;
  background-color: $dark-grey;
  color: $white;
}

table.menu {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid lighten($dark-grey, 10%);
  border-bottom: 1px solid lighten($dark-grey, 10%);
  border-bottom-right-radius: 6px;
  background-color: lighten($dark-grey, 25%);
  // #777
  box-shadow: #000 0 0 15px;
  font-family: $courier-font;

  h1 {
    margin: 0 10px;
    font-size: $font-base-size;
  }

  td {
    text-align: center;

    .label {
      width: 80px;
    }

    .label,
    .result {
      text-align: right;
    }
  }

  button {
    width: 80%;
    background-color: $button-color;
    color: #111;
    text-align: center;
    font-family: $courier-font;
    font-weight: normal;
    font-size: $font-base-size * 0.6;
    border: 1px solid $dark-grey;
    transition: width 0.5s, background-color 0.5s;
    border-radius: $border-base-radius;

    &:hover {
      cursor: pointer;
      background-color: lighten($button-color, 5%);
      width: 85%;
      transition: width 0.5s, background-color 0.5s;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.clicky {
  position: absolute;
  border-radius: 50%;
  background-color: #aaf;
  border: 1px solid $dark-grey;
  box-shadow: #000 0 0 15px;

  &:hover {
    cursor: pointer;
  }
}
